<main>
    <link href="/Css/style.css" rel="stylesheet" type="text/css">

    <form action="/main/Add" method="post">
        <input type="text" name="first_name"          id= "first_name"     placeholder="first_name"       /> <br><br>
        <input type="text" name="last_name "   id="last_name "placeholder="last_name "/> <br><br>
        <select name="category_id"   id="category_id" >
            <option value="2">line 1</option>
            <option value="5">line more</option>
        </select>
        <br><br>
        <input type="text" name="owner_id   "   id="owner_id   " placeholder="owner_id   "/> <br><br>
        <input type="text" name="creator_id "   id="creator_id " placeholder="creator_id "/> <br><br>
        <button>send</button>
    </form>
    <script> src=""</script>
</main>