<%- include("top.ejs") %>
<title>מסך עובדים</title>

<body>

<div id="AddForm">
    <form id="employeeForm">
        <input type="text" name="name" id="name" placeholder="שם" />
        <input type="text" name="id" id="id" placeholder="מספר זיהוי" />
        <input type="date" name="date" id="date" placeholder="תאריך" />
        <button type="button" onclick="addNewRow();">הוסף שורה</button>
    </form>
</div>

<hr>
<button onclick="deleteRow();">מחק שורה</button>
<hr/>
<button onclick="editRow(1);">ערוך שורה</button>
<hr/>
<button onclick="clockIn();">כניסה</button>
<hr/>
<button onclick="clockOut();">יציאה</button>

<table>
    <thead>
    <tr>
        <th>שם</th>
        <th>מספר זיהוי</th>
        <th>תאריך</th>
        <th>כניסה</th>
        <th>יציאה</th>
    </tr>
    </thead>
    <tbody id="mainTable">  </tbody>
</table>

<script>
    let raw_data=[];
    let srchTerm="";

    function FilterData(el){
        console.log("FilterData::",el);
        if(srchTerm=="")
            return true;
        let reg=new RegExp(srchTerm,"i");
        if(reg.test(el.name)){
            return true;
        }
        return false;
    }

    function CreateTable(){
        srchTerm=document.getElementById("filterField").value;
        let data=raw_data.filter(FilterData);
        let str="";
        for(let line of data){
            str+="<tr>";
            str+="<td>"+line.name+"</td>";
            str+=`<td>${line.id}</td>`;
            str+=`<td>${line.date}</td>`;
            str+=`<td>${line.clockIn}</td>`;
            str+=`<td>${line.clockOut}</td>`;
            str+=`<td><button onclick="deleteRow(${line.idxOnServer});">מחק</button></td>`;
            str+="</tr>";
        }
        document.getElementById("mainTable").innerHTML=str;
    }

    async function getList() {
        let response = await fetch('/List');
        let data = await response.json();
        raw_data = data;
        CreateTable();
    }

    async function addNewRow() {
        let name=document.getElementById("name").value;
        let id=document.getElementById("id").value;
        let date=document.getElementById("date").value;

        if (name.trim() !== "" && id.trim() !== "" && date.trim() !== "") {
            let newRow = document.getElementById("mainTable").insertRow();
            newRow.innerHTML = `<td>${name}</td><td>${id}</td><td>${date}</td><td></td><td></td><td><button onclick="deleteRow(${raw_data.length});">מחק</button></td>`;

            // אפשר גם לשמור את הנתונים במערך ולשלוח אותם לשרת כאשר משתמשים מצליחים
            // להוסיף את הנתונים לטבלה ולשמור אותם במערך
            raw_data.push({
                name: name,
                id: id,
                date: date,
                clockIn: "",
                clockOut: "",
                idxOnServer: raw_data.length
            });
        }
    }

    async function deleteRow(idx) {
        document.getElementById("mainTable").deleteRow(idx);
        raw_data.splice(idx - 1, 1);
        CreateTable();
    }

    async function editRow(idx) {
        // הוספת קוד לעריכת שורה
    }

    async function clockIn() {
        // הוספת קוד לכניסה
    }

    async function clockOut() {
        // הוספת קוד ליציאה
    }

    getList();
</script>
<%- include("bottom.ejs") %>

