<%- include("top.ejs") %>
<title>מסך עובדים</title>

<body>

<div id="AddForm">
    <input type="text" name="name"  id="name"  placeholder="name" />
    <input type="text" name="id" id="id" placeholder="id" />
    <button onclick="addNewLine();" >send</button>
</div>
<br/>


<hr>
<button onclick="deleteLine();">delete</button>
<hr/>
<button onclick="editLine(1);">Edit</button>
<hr/>
<button onclick="editLine(1);">Add</button>

<table>
    <thead>
    <tr>
        <th>name</th>
        <th>id</th>
        <th>date</th>
        <th>כניסה</th>
        <th>יציאה</th>
    </tr>
    </thead>
    <tbody id="mainTable">  </tbody>
</table>
<script>
    let raw_data=[];
    let srchTerm="";

    function FilterData(el){
        console.log("FilterData::",el);
        if(srchTerm=="")
            return true;
        let reg=new RegExp(srchTerm,"i");
        if(reg.test(el.name)){
            return true;
        }
        return false;
    }
    function CreateTble(){
        srchTerm=document.getElementById("filterField").value;
        let data=raw_data.filter(FilterData);
        let str="";
        for(let line of data){
            str+="<tr>";
            str+="<td>"+line.name+"</td>";
            str+=`<td>${line.id}</td>`;
            str+=`<td>${line.email}</td>`;
            str+=`<td>${line.כניסה }</td>`;
            str+=`<td>${line.יציאה}</td>`;
            str+=`<td><button onclick="deleteLine(${line.idxOnServer});">delete</button></td>`;
            str+="</tr>";
        }
        document.getElementById("mainTable").innerHTML=str;
    }

    async function getList() {
        let response = await fetch('/List');
        let data = await response.json();
        raw_data = data;
        CreateTble();
    }

    async function addNewLine() {
        let name=document.getElementById("name").value;
        let id=document.getElementById("id").value;
        let email=document.getElementById("email").value;
        let כניסה=document.getElementById("כניסה").value;
        let יציאה=document.getElementById("יציאה").value;
        let response = await fetch('/Add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({name: name, id: id, email: email})
            }
        );
        getList();
    }
    async function deleteLine(id) {
        let objToServer={};
        objToServer.idx=id;
        let response = await fetch('/Delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(objToServer)
            }
        );
        getList();
    }
    async function editLine(id) {
        let objToServer={};
        objToServer.idx=id;
        objToServer.name=document.getElementById("name").value;
        objToServer.id=document.getElementById("id").value;
        objToServer.email=document.getElementById("כניסה").value;
        objToServer.email=document.getElementById("יציאה").value;
        let response = await fetch('/Update', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(objToServer)
            }
        );
        getList();
    }

    getList();
</script>
<%- include("bottom.ejs") %>