<%- include("top.ejs") %>
<main>
    <div id="lineForm">
        <input type="text" id="name" placeholder="שם העובד">
        <br>
        <input type="text" id="email" placeholder="כתובת דוא"ל">
        <br>
        <button onclick="AddEmployee();">הוסף עובד</button>
    </div>
    <div id="employeeList">
        <h2>רשימת עובדים</h2>
        <ul id="employeeUL">

        </ul>
    </div>
</main>
<script>
    async function AddEmployee(){
        let name = document.getElementById("name").value;
        let email = document.getElementById("email").value;
        let response = await fetch('/employees/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({name: name, email: email})
        });
        let result = await response.json();
        if (result.success) {

            let ul = document.getElementById("employeeUL");
            let li = document.createElement("li");
            li.appendChild(document.createTextNode(name + " - " + email));
            ul.appendChild(li);
            // לאפס את השדות
            document.getElementById("name").value = "";
            document.getElementById("email").value = "";
        } else {
            alert(result.message);
        }
    }


    async function loadEmployees() {
        let response = await fetch('/employees');
        let employees = await response.json();
        let ul = document.getElementById("employeeUL");
        employees.forEach(employee => {
            let li = document.createElement("li");
            li.appendChild(document.createTextNode(employee.name + " - " + employee.email));
            ul.appendChild(li);
        });
    }


    window.addEventListener('load', loadEmployees);
</script>
<%- include("bottom.ejs") %>







