<%- include("top.ejs") %>
<title>מסך עובדים</title>

<body>

<div id="AddForm">
    <form id="employeeForm">
        <input type="text" name="name" id="name" placeholder="שם" />
        <input type="text" name="id" id="id" placeholder="מספר זיהוי" />
        <input type="date" name="date" id="date" placeholder="תאריך" />
        <button type="button" onclick="addNewRow();">הוסף שורה</button>
    </form>
</div>

<hr>
<button onclick="deleteRow();">מחק שורה</button>
<hr/>
<button onclick="editRow(1);">ערוך שורה</button>
<hr/>
<button onclick="clockIn();">כניסה</button>
<hr/>
<button onclick="clockOut();">יציאה</button>

<table>
    <thead>
    <tr>
        <th>שם</th>
        <th>מספר זיהוי</th>
        <th>תאריך</th>
        <th>כניסה</th>
        <th>יציאה</th>
        <th>פעולות</th>
    </tr>
    </thead>
    <tbody id="mainTable">  </tbody>
</table>

<!-- שדה עבור השעה הנכונה של היציאה -->
<input type="text" id="exitTime" readonly>

<script>
    let raw_data=[];

    function CreateTable(){
        let str="";
        for(let i = 0; i < raw_data.length; i++) {
            str+="<tr>";
            str+="<td>"+raw_data[i].name+"</td>";
            str+="<td>"+raw_data[i].id+"</td>";
            str+="<td>"+raw_data[i].date+"</td>";
            str+="<td id='clockInTime_"+i+"'>"+raw_data[i].clockIn+"</td>";
            str+="<td>"+raw_data[i].clockOut+"</td>";
            str+="<td><button onclick='deleteRow("+i+");'>מחק</button></td>";
            str+="</tr>";
        }
        document.getElementById("mainTable").innerHTML=str;
    }

    async function getList() {
        let response = await fetch('/List');
        let data = await response.json();
        raw_data = data;
        CreateTable();
    }

    async function addNewRow() {
        let name=document.getElementById("name").value;
        let id=document.getElementById("id").value;
        let date=document.getElementById("date").value;

        if (name.trim() !== "" && id.trim() !== "" && date.trim() !== "") {
            raw_data.push({
                name: name,
                id: id,
                date: date,
                clockIn: "",
                clockOut: ""
            });
            CreateTable();
        }
    }

    async function deleteRow(idx) {
        raw_data.splice(idx, 1);
        CreateTable();
    }

    async function editRow(idx) {
        // הוספת קוד לעריכת שורה
    }

    async function clockIn() {
        let name = document.getElementById("name").value;
        let id = document.getElementById("id").value;
        let date = document.getElementById("date").value;

        if (name.trim() !== "" && id.trim() !== "" && date.trim() !== "") {
            let currentTime = new Date();
            let hours = currentTime.getHours();
            let minutes = currentTime.getMinutes();
            raw_data[raw_data.length - 1].clockIn = `${hours}:${minutes}`;
            CreateTable();
        }
    }

    async function clockOut() {
        let name = document.getElementById("name").value;
        let id = document.getElementById("id").value;
        let date = document.getElementById("date").value;

        if (name.trim() !== "" && id.trim() !== "" && date.trim() !== "") {
            let currentTime = new Date();
            let hours = currentTime.getHours();
            let minutes = currentTime.getMinutes();

            // עדכון שדה השעה של היציאה בדף HTML
            document.getElementById("exitTime").value = `${hours}:${minutes}`;

            raw_data[raw_data.length - 1].clockOut = `${hours}:${minutes}`;
            CreateTable();
        }
    }

    getList();
</script>
<%- include("bottom.ejs") %>
</body>
</html>
